In [5]:
import sagemaker
import pandas as pd

In [2]:
sess = sagemaker.Session()

In [3]:
from datasets import load_from_disk
from datasets.filesystems import S3FileSystem

s3 = S3FileSystem(session=sess)

dataset = load_from_disk('s3://az-ade-905847418383/processing_output/train_data/',fs=s3)

In [7]:
df_train = pd.DataFrame(dataset)

In [8]:
df_train.head(10)

,__index_level_0__,attention_mask,input_ids,label,text
0,12628,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 7263, 1999, 6767, 7630, 3508, 1997, 1996...",0,Slight involution of the goiter within seven m...
1,4465,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 2553, 12654, 1024, 1037, 6163, 1011, 209...",0,CASE SUMMARY: A 67-year-old woman received rad...
2,6339,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 2002, 6757, 2044, 3447, 1997, 3424, 1011...",0,He recovered after administration of anti-hist...
3,14671,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 1996, 11616, 1997, 3674, 2026, 18349, 28...",0,The diagnosis of multiple myeloma was made in ...
4,11140,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 6135, 27159, 3085, 2310, 18674, 5080, 10...",0,Totally implantable venous device (TIVD) are w...
5,808,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 4487, 11393, 26972, 3526, 15859, 4588, 1...",1,Disseminated cellulitic cryptococcosis in the ...
6,681,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 4748, 2232, 23760, 3366, 16748, 3508, 19...",1,ADH hypersecretion in relation to plasma osmol...
7,4540,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 2004, 4842, 19791, 2271, 11865, 4328, 20...",0,Aspergillus fumigatus keratitis following lase...
8,6725,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 1037, 5764, 2095, 2214, 9820, 10372, 328...",0,A 66 year old HIV infected male heavy smoker p...
9,4533,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 2702, 5022, 2007, 14412, 27815, 27734, 2...",0,Ten patients with palatal tremor have presente...

In [9]:
df_train['label'].sum()/len(df_train)

0.20427975661448008

In [10]:
df_train.iloc[0]

__index_level_0__                                                12628
attention_mask       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
input_ids            [101, 7263, 1999, 6767, 7630, 3508, 1997, 1996...
label                                                                0
text                 Slight involution of the goiter within seven m...
Name: 0, dtype: object